/*youtube-icon-as-font(from svg)*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?xt34xp');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?xt34xp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?xt34xp') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?xt34xp') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?xt34xp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e900";
  color: #3f59a6;
}
/*youtube-icon-as-font(from svg)*/



/*Playfair.css*/
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayFairDisplay-Regular/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayFairDisplay-Regular/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayFairDisplay-Regular/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayFairDisplay-Regular/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayFairDisplay-Regular/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/PlayFairDisplay-Regular/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Playfair.css*/


/*header*/
header {
	padding: 15px 0;
}
.container-mine{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 15px 0;
}
.flex-between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo img {
	width: 130px;
}
header li {
	margin-left: 18px;
	font-size: 30px;
	font-family: 'Abel', sans-serif;
}
.burger{
	display: none;
}
.line{
	background-color: #3D58A6;
	width: 2px;
	height: 26px; 
}
.nav, .social-icons{
	 padding-top: 10px;
}
.color-red{
	color: red;
}
.color-li{
	color: #3D58A6;
}
/*header*/

/*section-first*/

.first-section{
	background-color: rgb(238,64,55);
}
.first-section h2{
	color: white;
	font-size: 20px;
	font-family: Arial;
}
/*section-first*/

/*second-section*/
.second-section{
	background-color: rgb(230,230,230);
}
/*second-section*/

.flex-around{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*third-section*/
.ts-div{
	background-color: rgb(55,62,152);
	color: white;
}
.ts-div p{
	padding-left: 200px;
}
#contact-form input{
	width: 70%;
	border-radius: 0;
	background-color: rgb(55,62,152);
}
form button{
	background-color: rgb(238,64,55);
	border-radius: 0;
	color: white;
}
.p1, .p2{
	margin-bottom: 20px;
}
/*third-section*/


@media only screen and (max-width: 1200px){
	.container-mine{
	max-width: 950px;
	width: 100%;
	}
	.ts-div p{
	padding-left: 150px;
    }
}

@media only screen and (max-width: 1000px){
	.container-mine{
		max-width: 800px;
		width: 100%;
	}
	.nav, .social-icons{
	    padding-top: 15px;
	}
	.ts-div p{
	padding-left: 100px;
    }
}

@media only screen and (max-width: 840px){
	.container-mine{
		max-width: 690px;
	}
	.nav, .social-icons{
	    padding-top: 15px;
	}
	.ts-div p{
		padding-left: 80px;
    }
    .nav{
    	display: none;
    }
    .logo img {
		width: 100px;
	}
	header li {
		margin-left: 18px;
		font-size: 20px;
	}
	.burger{
		display: block;
	}
	.nav-ul{
		display: none;
	}
}

@media only screen and (max-width: 767px){
	.container-mine{
		max-width: 660px;
	}
	.ts-div p{
		padding-left: 145px;
    }
	#contact-form input{
		width: 100%;
	}
	.button{
		display: flex;
		justify-content: center;
	}	 
}

@media only screen and (max-width: 700px){
	.container-mine{
		max-width: 640px;
	}
}

@media only screen and (max-width: 660px){
	.container-mine{
		max-width: 570px;
	}
}
@media only screen and (max-width: 585px){
	.container-mine{
		max-width: 510px;
	}
}
@media only screen and (max-width: 520px){
	.container-mine{
		max-width: 450px;
	}
	.ts-div p{
		padding-left: 130px;
		font-size: 13px;
	}
}

@media only screen and (max-width: 465px){
	.container-mine{
		max-width: 390px;
	}
}
@media only screen and (max-width: 383px){
	.container-mine{
		max-width: 340px;
	}
	.ts-div p{
		padding-left: 90px;
	}
}
@media only screen and (max-width: 360px){
	.container-mine{
		max-width: 310px;
	}
	.ts-div p{
		padding-left: 70px;
	}
	.hide{
		display: none;
	}
}
@media only screen and (max-width: 330px){
	.container-mine{
		max-width: 280px;
	}
	.ts-div p{
		padding-left: 70px;
	}
}